bin
target
.cache
include/ExerciseD.def
include/ExerciseD-parenthesize.str
include/ExerciseD-Permissive.def
include/ExerciseD.generated.pp.af
include/ExerciseD.packed.esv
include/ExerciseD.pp.af
include/ExerciseD.rtg
include/ExerciseD.str
include/ExerciseD.tbl
include/exercised.rtree
include/exercised.ctree
include/exercised.ctree.dep
include/exercised.jar
include/exercised-java.jar
editor/java/trans
editor/*.generated.*
syntax/ExerciseD*.generated.esv
syntax/ExerciseD.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
/include/
