<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="ed"
            description="ExerciseD"
            language="ExerciseD"
            derivedFrom="DynamicRoot"
            validator="ExerciseD.ExerciseDValidator"
            validatorClass="ExerciseD.ExerciseDValidator"
      ></language>
   </extension>
   <extension
         id="ExerciseD.parser"
         name="ExerciseD Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="ExerciseD.ExerciseDParseController"
            language="ExerciseD">
      </parser>
   </extension>    
</plugin>
