decl-your-lang/book.aux
decl-your-lang/book.bbl
decl-your-lang/book.blg
decl-your-lang/book.brf
decl-your-lang/book.log
decl-your-lang/book.out
decl-your-lang/book.pdf
decl-your-lang/book.toc
decl-your-lang/questions
ebooks
