decl-your-lang/book.aux
decl-your-lang/book.bbl
decl-your-lang/book.blg
decl-your-lang/book.brf
decl-your-lang/book.log
decl-your-lang/book.out
decl-your-lang/book.pdf
decl-your-lang/book.toc
decl-your-lang/questions
ebooks
languages/LanguageE/editor/java/ds/generated
languages/ExerciseE/editor/java/ds/generated/interpreter
languages/paplj/paplj-exercises/.cache
languages/paplj/paplj-examples/.cache

types.generated.str
*.aterm
languages/paplj/paplj-exercises-semantics/.cache
languages/paplj/paplj-exercises-types/.cache
languages/paplj/paplj-exercises-names/.cache

sub.generated.str
languages/paplj/paplj-spoofax.zip
languages/paplj.core/paplj.core.full/editor/java/ds/generated
