<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="pj"
            description="PAPLJ"
            language="PAPLJ"
            derivedFrom="DynamicRoot"
            validator="paplj.syntax.PAPLJValidator"
            validatorClass="paplj.syntax.PAPLJValidator"
      ></language>
   </extension>
   <extension
         id="paplj.syntax.parser"
         name="PAPLJ Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="paplj.syntax.PAPLJParseController"
            language="PAPLJ">
      </parser>
   </extension>    
</plugin>
