bin
target
.cache
include/ExerciseA.def
include/ExerciseA-parenthesize.str
include/ExerciseA-Permissive.def
include/ExerciseA.generated.pp.af
include/ExerciseA.packed.esv
include/ExerciseA.pp.af
include/ExerciseA.rtg
include/ExerciseA.str
include/ExerciseA.tbl
include/exercisea.rtree
include/exercisea.ctree
include/exercisea.ctree.dep
include/exercisea.jar
include/exercisea-java.jar
editor/java/trans
editor/*.generated.*
syntax/ExerciseA*.generated.esv
syntax/ExerciseA.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
