bin
target
.cache
include/ExerciseE.def
include/ExerciseE-parenthesize.str
include/ExerciseE-Permissive.def
include/ExerciseE.generated.pp.af
include/ExerciseE.packed.esv
include/ExerciseE.pp.af
include/ExerciseE.rtg
include/ExerciseE.str
include/ExerciseE.tbl
include/exercisee.rtree
include/exercisee.ctree
include/exercisee.ctree.dep
include/exercisee.jar
include/exercisee-java.jar
editor/java/trans
editor/*.generated.*
syntax/ExerciseE*.generated.esv
syntax/ExerciseE.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
/include/
