bin
target
.cache
include/Stratego.def
include/Stratego-parenthesize.str
include/Stratego-Permissive.def
include/Stratego.generated.pp.af
include/Stratego.packed.esv
include/Stratego.pp.af
include/Stratego.rtg
include/Stratego.str
include/Stratego.tbl
include/stratego.rtree
include/stratego.ctree
include/stratego.ctree.dep
include/stratego.jar
include/stratego-java.jar
editor/java/trans
editor/*.generated.*
syntax/Stratego*.generated.esv
syntax/Stratego.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
