bin
target
.cache
include/PAPLJ.def
include/PAPLJ-parenthesize.str
include/PAPLJ-Permissive.def
include/PAPLJ.generated.pp.af
include/PAPLJ.packed.esv
include/PAPLJ.pp.af
include/PAPLJ.rtg
include/PAPLJ.str
include/PAPLJ.tbl
include/paplj.rtree
include/paplj.ctree
include/paplj.ctree.dep
include/paplj.jar
include/paplj-java.jar
editor/java/trans
editor/*.generated.*
syntax/PAPLJ*.generated.esv
syntax/PAPLJ.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
/include/
