bin
target
.cache
include/ExerciseC.def
include/ExerciseC-parenthesize.str
include/ExerciseC-Permissive.def
include/ExerciseC.generated.pp.af
include/ExerciseC.packed.esv
include/ExerciseC.pp.af
include/ExerciseC.rtg
include/ExerciseC.str
include/ExerciseC.tbl
include/exercisec.rtree
include/exercisec.ctree
include/exercisec.ctree.dep
include/exercisec.jar
include/exercisec-java.jar
editor/java/trans
editor/*.generated.*
syntax/ExerciseC*.generated.esv
syntax/ExerciseC.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
