<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="le"
            description="LangE"
            language="LangE"
            derivedFrom="DynamicRoot"
            validator="org.metborgcube.dyl.languagee.LangEValidator"
            validatorClass="org.metborgcube.dyl.languagee.LangEValidator"
      ></language>
   </extension>
   <extension
         id="org.metborgcube.dyl.languagee.parser"
         name="LangE Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.metborgcube.dyl.languagee.LangEParseController"
            language="LangE">
      </parser>
   </extension>    
</plugin>
