bin
target
.cache
include/LangA.def
include/LangA-parenthesize.str
include/LangA-Permissive.def
include/LangA.generated.pp.af
include/LangA.packed.esv
include/LangA.pp.af
include/LangA.rtg
include/LangA.str
include/LangA.tbl
include/langa.rtree
include/langa.ctree
include/langa.ctree.dep
include/langa.jar
include/langa-java.jar
editor/java/trans
editor/*.generated.*
syntax/LangA*.generated.esv
syntax/LangA.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
